<app-nav-bar></app-nav-bar>


<body>

<header>
    MagicLand Park!
</header>
<div>
  <div class="park-description">
    <h2>Parc de Aventură</h2>
    <p>
      Parcul nostru cuprinde un amestec fascinant de obstacole, trasee de escaladare, punți suspendate și trasee de echilibru. Indiferent dacă sunteți începător sau căutați provocări extreme, există trasee potrivite pentru fiecare nivel de abilitate.
    </p>
  </div>
  
  <div class="zipline-section">
    <h2>Tiroliene Uimitoare</h2>
    <p>
      Experimentați senzația de zbor pe deasupra copacilor și pe deasupra văilor prin intermediul tirolienelor noastre. Cu diferite trasee de tiroliană care oferă perspective panoramice uimitoare, veți simți cu adevărat adrenalină în venele dumneavoastră.
    </p>
  </div>
  
  <div class="climbing-section">
    <h2>Trasee de Alpinism</h2>
    <p>
      Pasionații de escaladă vor găsi aici un rai pentru ei. Cu stânci artificiale și suprafețe diverse, veți putea să vă exersați abilitățile de alpinism în condiții de siguranță.
    </p>
  </div>
  
  <div class="relaxation-section">
    <h2>Zonă de Relaxare</h2>
    <p>
      După o zi plină de aventură, puteți relaxa în zona noastră special amenajată, unde puteți să vă odihniți, să vă bucurați de un picnic sau să pregătiți grătarul. Aici puteți relata poveștile și experiențele voastre palpitante.
    </p>
  </div>
  
</div>

<div class="button-container">
    <button  mat-raised-button color="primary" class="custom-button" routerLink="/register">Inregistreaza-te</button>
    <button  mat-raised-button color="primary" class="custom-button" routerLink="/login">Log-in</button>

</div>
</body>


<footer>
    <div class="footer-section">
      <h3>Contact</h3>
      <ul>
        <li>Phone: 123-456-789</li>
        <li>Email: info@magiclandpark.com</li>
        <li>Address: 123 Park Street, Magicland</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>About Us</h3>
      <p>MagicLand Park is a magical amusement park that offers fun and excitement for all ages.</p>
    </div>
    <div class="footer-section">
      <h3>Newsletter</h3>
      <p>Subscribe to our newsletter to receive updates and special offers.</p>
      <form>
        <input type="email" placeholder="Enter your email">
        <button type="submit">Subscribe</button>
      </form>
    </div>
    <div class="footer-section">
      <h3>Other</h3>
      <ul>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
  </footer>
  