<body>
    <div class="titlu-text">
        <div class="titlu-register">
            <button mat-raised-button  name="register" routerLink="/register">Creeaza cont</button>
        </div>
        <div class="titlu-login">
            LOGIN
        </div>
    </div>

    <div class="form-container">
        <form action="#" class="login">
            <div class="form-field">
                <mat-form-field>
                    
                    <mat-label>
                        Email
                    </mat-label>

                    <input matInput [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" type="email">

                </mat-form-field>
            </div>

            <div class="form-field">
                <mat-form-field>

                    <mat-label>
                        Parola
                    </mat-label>

                    <input matInput [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" type="password">

                </mat-form-field>
            </div>
            
            <button mat-raised-button (click)="login()">Login</button>

        </form>
    </div>
</body>


    
    
