<app-nav-bar></app-nav-bar>

<div class="titlu-text">
        LOGIN
    
</div>


    <div class="form-container">
       
        <form [formGroup]="loginForm" action="#" class="login">
            <div class="form-field">
                <mat-form-field>
                    
                    <mat-label>
                        Email
                    </mat-label>

                    <input class="form-control" matInput [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" type="email">

                </mat-form-field>
            </div>

            <div class="form-field">
                <mat-form-field>

                    <mat-label>
                        Parola
                    </mat-label>

                    <input class="form-control" matInput [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" type="password">

                </mat-form-field>
            </div>
            
            <button mat-raised-button (click)="login()" class="btnLogin">Login</button>
            <button mat-raised-button (click)="resetPassword()" class="btnLogin">Reset Password</button>

        </form>

        <mat-label class="label-register">
            Nu ai un cont? Inregistrează-te aici.
        </mat-label>
        <div class="titlu-register">
            <button mat-raised-button  name="register" routerLink="/register" class="btnRegister">Creeaza cont</button>
        </div>
          
    </div>



    
    
