<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="oldPassword">Old Password:</label>
      <input type="password" id="oldPassword" formControlName="oldPassword" />
      <div *ngIf="changePasswordForm.get('oldPassword')?.hasError('required') && changePasswordForm.get('oldPassword')?.touched">
        Old password is required.
      </div>
    </div>
    
    <div>
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" formControlName="newPassword" />
      <div *ngIf="changePasswordForm.get('newPassword')?.hasError('required') && changePasswordForm.get('newPassword')?.touched">
        New password is required.
      </div>
    </div>
    
    <button type="submit" [disabled]="changePasswordForm.invalid">Change Password</button>
  </form>
  
  
