<mat-toolbar class="navbar">
    <div class="">
      <div class="navbar-brand">
        <a class="navbar-item">
           
          <button mat-button [routerLink]="['']" class="logo">
           <img src="assets/logo.png" >
          </button>
        
        </a>
      </div>
    </div>
    <div class="mat-tab-nav-bar">
      <a mat-button *ngIf="tip === 'CLIENT' || tip == 'ADMINISTRATOR'" [routerLink]="['/activitati']" class="activitati">Activitati</a>
      <a mat-button *ngIf="tip === 'ADMINISTRATOR'" [routerLink]="['/tichete']" class="tichet-button">Tichete</a>
      <a mat-button *ngIf="tip === 'CLIENT' || tip == 'ADMINISTRATOR'" [routerLink]="['/rezervare']" class="harta-button">Rezervarile mele</a>
      
      <a mat-button *ngIf="tip === 'CLIENT' || tip == 'ADMINISTRATOR'" [routerLink]="['/harta']" class="harta-button">Harta</a>
    </div>
    <div>
      <form class="example-form">
        <mat-form-field *ngIf="tip === 'CLIENT' || tip == 'ADMINISTRATOR'" class="example-full-width">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="searchProduct($event)"  type="text">
        </mat-form-field>

        <mat-label *ngIf="tip === 'CLIENT' || tip === 'ADMINISTRATOR'" >{{ welcomeMessage }}</mat-label>
        <div class="auth-buttons" >
          <button mat-raised-button color="primary" *ngIf="!(tip === 'CLIENT' || tip === 'ADMINISTRATOR')" [routerLink]="['/login']" class="login-button">Login</button>
          <button mat-raised-button color="primary"  *ngIf="tip === 'CLIENT' || tip === 'ADMINISTRATOR'" (click)="logout()" class="logout-button">Logout</button>
          <button mat-raised-button color="primary" *ngIf="!(tip === 'CLIENT' || tip === 'ADMINISTRATOR')" [routerLink]="['/register']" class="register-button">Register</button>
        </div>
        


      </form>
    </div>
    <div>
      <!-- <a mat-button *ngIf="tip === 'CLIENT'" [routerLink]="['/rezervari']" >
        <mat-icon matBadge="{{numberOfProductsInCart}}" matBadgeColor="warn">
          <span class="material-icons">
           add_box
          </span>
        </mat-icon>
      </a> -->
    </div>
  </mat-toolbar>
