body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

.form {
  margin: 50px auto;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  text-align: center;
  color: #a445b2;
}

hr {
  border: 1px solid #a445b2;
  margin: 10px 0;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-form-field textarea {
  resize: vertical;
}

mat-grid-list {
  width: 100%;
  margin-bottom: 20px;
}

button {
  margin-right: 10px;
}

input[type="file"] {
  display: none;
}

.file-upload-label {
  display: block;
  padding: 10px;
  background-color: #a445b2;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.file-upload-label:hover {
  background-color: #9558bf;
}

/* Optional: Adjust the styles for mat-select */
.mat-select {
  width: 100%;
  margin-bottom: 20px;
}
  