body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

app-nav-bar {
  /* Add any styles specific to the app-nav-bar component here */
}

form {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

// mat-card {
//   padding: 10px;
//   background-color: #f9f9f9;
//   border-radius: 5px;
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//   margin-bottom: 10px;
// }

.titlu {
  font-size: 20px;
  font-weight: bold;
  color: #a445b2;
  margin-bottom: 10px;
}

mat-label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

mat-select {
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #a445b2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #9558bf;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table thead {
  background-color: #f2f2f2;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #a445b2;
  color: white;
}