<app-nav-bar></app-nav-bar>
<body>
    <div class="wrapper">
        <div align="center" class="form-content">
            <div class="title">
                Register

            </div>

            <form [formGroup]="registerForm" method="get" align="center">

                <div class="form-container">

                    <div class="field">
                        <mat-form-field>
                            <mat-label>
                                Prenume
                            </mat-label>
                            <input matInput [(ngModel)]="persoana.prenume" name="prenume" formControlName="prenume">                           
                        </mat-form-field>
                    </div>

                    <div class="field">
                        <mat-form-field>
                            <mat-label>
                                Nume
                            </mat-label>
                            <input matInput [(ngModel)]="persoana.nume" name="nume" formControlName="nume">
                        </mat-form-field>
                    </div>

                    <div class="field">
                        <mat-form-field>
                            <mat-label>
                                Email
                            </mat-label>
                            <input matInput [(ngModel)]="persoana.email" name="email" formControlName="email">
       
                        </mat-form-field>
                        <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Acest camp trebuie sa fie un email.</mat-error>
                    </div>

                    <div class="field">
                        <mat-form-field>
                            <mat-label>
                                Parola
                            </mat-label>
                            <input matInput type="password" [(ngModel)]="persoana.password" name="password" formControlName="password">
          
                        </mat-form-field>
                        <mat-error *ngIf="registerForm.get('password')?.hasError('required')">Parola este obligatorie</mat-error>
                        <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">Parola trebuie sa contina minim 7 caractere.</mat-error>
                        <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">Parola trebuie sa contina cel putin o majuscula, o minuscula si o cifra.</mat-error>
                    </div>

                    <div class="field">
                        <mat-form-field>
                            <mat-label>
                               Confirma parola
                            </mat-label>
                            <input matInput type="password" [(ngModel)]="persoana.confirmPassword" name="confirmPassword" formControlName="confirmPassword">
                            <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Confirmarea parolei este obligatorie.</mat-error>
                            <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('matchPassword')">Parolele nu se potrivesc.</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="field">
                        <mat-form-field>
                          <mat-label>
                            Tip acces
                          </mat-label>
                          <mat-select name="tip" [(ngModel)]="persoana.tip" formControlName="tip">
                            <mat-option *ngFor="let tip of tipuri" value="{{tip.nume}}">
                              {{tip.nume}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>

                    <button mat-raised-button (click)="register()" [disabled]="registerForm.invalid">Register</button>
                    <button mat-raised-button [routerLink]="['/login']">Log-in</button>


                </div>
            </form>

        </div>

    </div>
</body>